<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="come.jk.cn">

    <meta-data
        android:name="android.max_aspect"
        android:value="2.1" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MyAppLication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".ui.ClearActivity">


        </activity>
        <activity android:name=".ui.SwitchActivity">

        </activity>
        <activity android:name=".ui.MainTabActivity" /> <!-- 自动适配 -->
        <meta-data
            android:name="design_width"
            android:value="750" />
        <meta-data
            android:name="design_height"
            android:value="1334" />

        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.ForgetpwdActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ui.login.RegisterActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ui.login.ResetActivity"
            android:launchMode="singleInstance" />
    </application>

</manifest>